<h1> Search Results for Query: {{query}}</h1>
<div>
<h2> {{result.[0].name}} </h2>
<br>
<p> {{result.[0].tags}} </p>
<br><br>

<h2> {{result.[1].name}} </h2>
<br>
<p> {{result.[1].tags}} </p>
<br><br>

<h2> {{result.[2].name}} </h2>
<br>
<p> {{result.[2].tags}} </p>
<br><br>

<h2> {{result.[3].name}} </h2>
<br>
<p> {{result.[3].tags}} </p>
<br><br>

<h2> {{result.[4].name}} </h2>
<br>
<p> {{result.[4].tags}} </p>
<br><br>
</div>
